html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.container
{
   	width:940px;
   	margin:auto;
   	position: relative;

}
.clear ,.input li.clear,.menus li.clear,.items li.clear
{
	margin:0;
	clear:both;
	float:none;
	height:0;
	width:0;
}
body
{
	
	font-family: arial, Helvetica, sans-serif;
}
#header
{
	/*background:#fbfbfb;*/
}
 .menus a:hover
{
	color:#0000ff;
}

.logo
{
	float:left;
	background-image:url("../images/logo.png");
	width:158px;
	height:35px;
	background-repeat:no-repeat;
	margin-top:4px;
}
.login
	{
		float: right;
		font-size: 14px;
		color: #ffffff;
		background-color: #88bb33;
		
		line-height: 29px;
		border-radius: 4px;
		margin-left: 20px;
		margin-top: 8px;
		
		width: 64px;
	}
.phone
	{
		float: right;
		margin-top: 15px;
		background-image: url("../images/phone.png");
		background-repeat: no-repeat;
		height: 15px;
		width:15px;
	}
ul.menus
{
	float:left;
	list-style-type: none;
	margin-left:32px;
}
.menus li
{
	float:left;
	border-left:1px solid #e5e5e5;
	line-height:45px;
	
}
.menus li a
{
	padding:15px 20px 16px 20px;
	color:#000000;
	font-size:14px;
	text-decoration:none;
}
/*.contact
{
	float:right;
	margin-left:100px;
}*/

.contact
{
	float:left;
	
	width:20px;
	height:20px;
	background:url("../images/contact.png") no-repeat;
}
#banner
{
	
	background-color:#ffffff;
	border-bottom:4px solid #000000;
}
.bannerimage
{
	background-image:url("../images/banner.jpg");
	height:320px;
	
}
.bannerimage h1
{
	width:510px;
	font-size:36px;
	float:left;
	margin-left:55px;
	margin-top:40px;
	font-weight:normal;
}
.items ul
{
	float:left;
    list-style-type: none;
	margin-top:145px;
	width:735px;
	margin-left:100px;
	margin-bottom:117px;
	
}
.items li
{
	
	margin-left:95px;
	
	text-decoration:none;
	width:100px;
	float:left;
	
}
.items li:first-child 
{
margin-left:0px;
}

.items p
{
margin-top:35px;
font-size:14px;
text-align:center;
color:#939393;

}
.border
	{

	}
#movers	{
background-color:#F5F5F5;
border-top:1px solid #939393;
margin-top:185px;
padding-bottom: 276px;

	}
h3{
	width:450px;
	font-size:32px;
	float:right;	
	font-weight:normal;
	position:absolute;
	top:279px;
	left:455px;
	color:black;
}
.moverimage h4{
	width:450px;
	font-size:26px;
	
	font-weight:normal;
	position:absolute;
	top:310px;
	left:363px;
	color:#000000;
}

.
}
.moverimage img

{
height:350px;
margin-top:40px;
width: 785px;
margin:auto;


}
.moverimage
{
position:relative;
margin-bottom:60px;
width: 785px;
margin:auto;
}

.rightarrow
{
background:url("../images/navwhite.png")no-repeat;
height:50px;
float:right;
width:30px;
}

.leftarrow{
background:url("../images/nav.png")no-repeat;
height:50px;
width:30px;
float:left;
}
h2{
font-size:36px;
color:black;
text-align:center;
margin-bottom: 35px;
}
.advantage ul
{
list-style-type:none;
margin-top:40px;
float:left;
margin-bottom: 90px;
}

.advantage li{
	text-decoration:none;
	width:150px;
	float:left;
	color:#000000;
	margin-top:40px;
	margin-left:71px;
	font-size: 14px;
}
.advantage img
{
margin-bottom: 30px;
}

.advantage li:first-child  
{
	margin-left:0px;
}

.popup h4{
	width:440px;
	font-size:24px;
	color: #000000;
	margin:auto;
	margin-bottom:40px;

}
.popup{
	width: 713px;
	padding: 40px 0px 8px 40px;
	margin:auto;
	background-color: white;

}
.popup ul{
width: 620px;
}

.popup li{
		width: 300px;
		margin-left: 10px;
		margin-bottom: 40px;
		float: left;
		list-style-type: none;
		}

.popcover{
			
			padding-bottom:100px;
		}

input.info
		{
			width: 300px;
		}

.signup	{
		width:74px;
		border-radius:7px;
		line-height:26px;
		background-color:#88bb33;
		color: #ffffff;
		
		
		}
#footer		
		{
		background-color:#444444;
		padding-bottom: 40px;
		padding-top: 100px;
	
	}
	#footer p
	{
		text-align: center;
		color:#939393;
	text-decoration: none;


	}
	div .popup
	{
		position: absolute;
		top:800px;
		left:100px;

	}
