html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.container
{
   	width:940px;
   	margin:auto;
   	position: relative;

}
.clear ,.input li.clear,.menus li.clear,.items li.clear,.advantage li.clear
{
	margin:0;
	clear:both;
	float:none;
	height:0;
	width:0;
}
body
{
	
	font-family: arial, Helvetica, sans-serif;
}
#header
{
	/*background:#fbfbfb;*/
}
 .menus a:hover
{
	color:#0000ff;
}

.logo
{
	float:left;
	background-image:url("../images/logo.png");
	width:158px;
	height:35px;
	background-repeat:no-repeat;
	margin-top:4px;
}
.login
	{
		float: right;
		font-size: 14px;
		color: #ffffff;
		background-color: #88bb33;
		
		line-height: 29px;
		border-radius: 4px;
		margin-left: 20px;
		margin-top: 8px;
		
		width: 64px;
	}
.phone
	{
		float: right;
		margin-top: 15px;
		background-image: url("../images/phone.png");
		background-repeat: no-repeat;
		height: 15px;
		width:15px;
	}
ul.menus
{
	float:left;
	list-style-type: none;
	margin-left:32px;
}
.menus li
{
	float:left;
	border-left:1px solid #e5e5e5;
	line-height:45px;
	
}
.menus li a
{
	padding:15px 20px 16px 20px;
	color:#000000;
	font-size:14px;
	text-decoration:none;
}
/*.contact
{
	float:right;
	margin-left:100px;
}*/
.vehicle	{
		width:200px;
		border-radius:8px;
		background:url("../images/car.png")no-repeat left;	
		
		background-color:#EE7700;		
		padding: 15px 26px 15px 28px;
		
		text-decoration: none;
		color: #ffffff;
		
		}

.home	{
		width:200px;
		border-radius:8px;
		background:url("../images/home.png")no-repeat left;	
		
		background-color:#EE7700;		
		padding: 15px 26px 15px 28px;
		
		text-decoration: none;
		color: #ffffff;
		
		}

.buttons {
	width: 480px;
		}


.or{
	height: 30px;
	width: 30px;
	background-color: #939393;
	border-radius: 15px;
	font-size: 12px;
	color: #000000;
	padding: 6px 7px 6px 7px;
	margin: 0px 25px 0px 25px;
		}

.contact
{
	float:left;
	
	width:20px;
	height:20px;
	background:url("../images/contact.png") no-repeat;
}

#banner
{
	background-color:#ffffff;
}

.bannerimage
{
	background-image:url("../images/banner.jpg");
	height:320px;
	margin-bottom: 160px;
}

div .buttons
{
	position: absolute;
	top: 468px;
	left: 296px;
	z-index: 2;
}
.bannerimage h1
{
	width:510px;
	font-size:36px;
	float:left;
	margin-left:55px;
	margin-top:40px;
	font-weight:normal;
}
.items ul
{
	float:left;
    list-style-type: none;
	margin-top:145px;
	width:735px;
	margin-left:100px;
	margin-bottom:117px;
	
}
.items li
{
	
	margin-left:95px;	
	text-decoration:none;
	width:100px;
	float:left;
	
}
.items li:first-child 
{
margin-left:0px;
}

.items p
{
margin-top:35px;
font-size:14px;
text-align:center;
color:#939393;

}
div .items{
	position: relative;
	z-index:1;
}

#movers	{
background-color:#F5F5F5;
border-top:1px solid #939393;
padding-bottom: 276px;
position: relative;
z-index: 0;
	}

.border
{
		border: 4px solid black;
		width:495px;
		position: absolute;
		top: 313px;
		left: 192px;
		z-index:1;

}

h3{
	width:450px;
	font-size:32px;
	float:right;	
	font-weight:normal;
	position:absolute;
	top:279px;
	left:455px;
	color:black;
}
.moverimage h4{
	width:450px;
	font-size:26px;
	
	font-weight:normal;
	position:absolute;
	top:310px;
	left:363px;
	color:#000000;
}

.dots ul{
list-style-type: none;
}

.dots{
	margin-top: 30px;
}
.gray{
	height: 10px;
	width: 10px;
	background-color: #EE7700;
	border-radius:5px;

}
}
.moverimage img

{
height:350px;
margin-top:40px;
width: 785px;
margin:auto;


}
.moverimage
{
position:relative;
margin-bottom:60px;
width: 785px;
margin:auto;
}

.rightarrow
{
background:url("../images/navwhite.png")no-repeat;
height:50px;
float:right;
width:30px;
}

.leftarrow{
background:url("../images/nav.png")no-repeat;
height:50px;
width:30px;
float:left;
}
h2{
font-size:36px;
color:black;
text-align:center;
margin-bottom: 35px;
}
.advantage ul
{
list-style-type:none;
margin-top:40px;
float:left;
margin-bottom: 90px;
}

.advantage li{
	text-decoration:none;
	width:170px;
	float:left;
	color:#000000;
	margin-top:40px;
	margin-left:71px;
	font-size: 12px;
}
.advantage img
{
margin-bottom: 30px;
}

.advantage li:first-child
{
	margin-left: 0px;

}

.advantage li:first-child img{margin-top: 20px;}
.popup h4{
	width:440px;
	font-size:24px;
	color: #000000;
	margin:auto;
	margin-bottom:40px;

}
.popup{
	width: 713px;
	padding: 40px 0px 8px 40px;
	margin:auto;
	background-color: white;

}

.popup ul{
width: 620px;
}

.popup li{
		width: 300px;
		margin-left: 10px;
		margin-bottom: 40px;
		float: left;
		list-style-type: none;

		}

.popcover{
			
			padding-bottom:100px;
		}

input.info
		{
			width: 300px;
		}

.signup	{
		width:74px;
		border-radius:7px;
		line-height:26px;
		background-color:#88bb33;
		color: #ffffff;
		
		
		}
#footer		
		{
		background-color:#444444;
		padding-bottom: 40px;
		padding-top: 100px;
	
	}
	#footer p
	{
		text-align: center;
		color:#939393;
	text-decoration: none;


	}
	div .popup
	{
		position: absolute;
		top:800px;
		left:100px;

	}
